
<h1 class="ui top attached header">
  <i class="bitcoin icon"></i>
  <div class="content">
   Cryptom
    <div class="sub header"><%=current_user.username%>'s Dashboard</div>
  </div>
</h1>

<div class="ui attached segment">
<div class="ui grid">
<div class="five wide column">
<div class="ui raised card" >
  <div class="content">
    <div class="header" id="user_card" ><%=current_user.username%></div>
    <div class="meta" id="user_card" >
      <span class="category" id="user_card"> <%=current_user.created_at.strftime("Member since %b. %d, %Y") %></span>
    </div>
    <div class="description"  >
      <p>You may change your icon at <a href='http://en.gravatar.com'>Gravatar</a></p>
      <%= gravatar_for @user %>
</div>
    </div>
  
  <div class="extra content">
  <p>Last signed in <%=time_ago_in_words(current_user.last_sign_in_at)%> ago</p>
  </div>
</div>
</div> <!-- end of first six wide column -->
<div class="seven wide column">

  <div class="ui compact segment">
    <div class="label">
  <strong>
   Current Bitcoin Price
   </strong>
  </div>
<div class="btc_price">
     1 Bitcoin = <span class="btc_value"><%= number_to_currency(@price.price) %></span> USD
  </div>
  </div>
<div class="btc_balance">
  <i class="bitcoin icon"></i> <strong>Current Balance: </strong>
  <%= @balance%> 
</div>
<div class="btc_address">
 <i class="green lightning icon"></i> <strong>Wallet Address: </strong>
  <%=@address %>   
</div>

</div><!-- end of second six wide column -->
<div class="four wide column">
  -- TABLE PLACEHOLDER --
</div>
</div><!-- end of the grid -->
</div>

<h2 class="ui dividing header">
  <i class="green lightning icon"></i>
  <div class="content">
    Green Addresses
    <div class="sub header">Next Generation Cryptocurrency</div>
  </div>
</h2>
<p>Green Addresses allow allow users to transact coins instantly on enabled sites. This allows vendors to process transactions immediately without waiting for confirmations as the wallet balance has been verified by <a href="http://www.block.io/#_l_1bf">Block.io</a> </p>

<br>



