<div class="ui fixed inverted menu" id="navbar">
    <div class="ui container">
      <a href="/" class="header item">
    
      Cryptom
      </a>
      <div class="item">
   <%= semantic_icon('dashboard') %>
   <a  href="/pages/dashboard">Dashboard</a>
   </div>

         <div class="item">
   <%= semantic_icon('bitcoin ') %>
  <a href="#">Bitcoin</a>
   </div>
             <div class="item">
   <%= semantic_icon('help circle outline') %>
  <a href="#">FAQ</a>
   </div>
      <div class="item">
   <%= semantic_icon('mail') %>
   <a  href="#">Contact</a>
   </div>
       
         <div class="right menu">
         <% if !user_signed_in? %>
         <div class="item">
      <%=link_to semantic_icon('sign in')+'Log in', new_user_session_path, class: 'ui basic teal button' %>
    </div>
    <div class="item">
    <%=link_to semantic_icon('add user')+'Sign up', new_user_registration_path, class: 'ui basic blue button' %>
    </div>
    <%else%>
    <div class="item">
       <%=link_to_unless_current semantic_icon('user')+'Profile', edit_user_registration_path%> 
        </div>
     <div class="item">
       <%=link_to semantic_icon('sign out')+'Log out', destroy_user_session_path, method: :delete %> 
        </div>
   
      <%end%>
  </div>

    </div>
  </div>